body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
}

.enlaces {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.enlace {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s, background 0.3s;
}

.enlace:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.4);
}

.donacion {
    background: #ff4757; /* Color especial para donaciones */
}

.horario, .acerca {
    margin: 20px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color:black;
    color:white;
    text-decoration:none;
     align-items: center;
    justify-content: center; 
}
.tarjetas {
    display: flex;
    justify-content: center;
    margin: 20 0;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.tarjeta {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s, opacity 0.3s;
    width: 200px; /* Ajusta el tamaño de las tarjetas según sea necesario */
    display: flex;
    align-items: center;
    justify-content: center; /* Si también quieres centrar horizontalmente */
}

.tarjeta img {
    width: 100%;
    height: auto;
    display: block;
}

.tarjeta p {
    color: white;
    text-align: center;
    padding: 10px;
}

.tarjeta:hover {
    transform: scale(1.05);
    opacity: 0.8;
}
.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color:black;
}

label {
    display: block;
    margin: 10px 0 5px;
    color:black;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color:black;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background-color: #218838;
}

